{% extends 'base.html' %}

{% block title %}File Upload{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Success</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f4f4f4;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Upload Successful</h1>
    <br>
    <p><strong>Book Name:</strong> {{ book }}</p>
    <p><strong>Author:</strong> {{ author }}</p>
    <p><strong>Number of Highlights in the html file:</strong> {{ numberofhighlights }}</p>
    <p><strong>Number of Highlights written to database:</strong> {{ highlight_upload_count }}</p>
    <p><strong>Explanation: </strong><em style="font-size: 10pt;">{{ uploadstatmessage }} {{ msg2 }}</em></p>
    <br>




    
    <h2>Highlights</h2>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Highlight</th>
            </tr>
        </thead>
        <tbody>
            {% for highlight in highlights %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ highlight }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><strong>here is the log report:</strong> {{ logreport }}</p>
</body>
</html>


{% endblock %}
